[user]
	name = Matus Kmit
	email = matuskmit1@gmail.com
        signingkey = A7D4C7D0AA8CF012

[alias]
        d = diff
[alias]
        dno = diff --name-only
[alias]
        ds = diff --staged
[alias]
        dsb = diff --submodule=diff --no-ext-diff
[alias]
        dom = diff origin/master
[alias]
        c = commit
[alias]
        cm = commit -m
[alias]
        ca = commit --amend
[alias]
        can = commit --amend --no-edit
[alias]
        cf = "!f() { git commit --fixup=$1; }; f"
[alias]
        cp = cherry-pick
[alias]
        cpn = cherry-pick --no-commit
[alias]
        cpa = cherry-pick --abort
[alias]
        cpc = cherry-pick --continue
[alias]
        patch = "!f() { git add . && git can && git psf; }; f"
[alias]
        s = status --ignore-submodules=untracked
[alias]
        sw = switch
[alias]
        swd = switch -d
[alias]
        swc = switch -C
[alias]
        swr = switch --recurse-submodules
[alias]
        swdr = switch -d --recurse-submodules
[alias]
        rt = restore
[alias]
        a = add
[alias]
        b = branch
[alias]
        pl = pull
[alias]
        plr = pull --rebase
[alias]
        ps = push
[alias]
        psf = push --force-with-lease
[alias]
        psom = push origin HEAD:master
[alias]
        pso = "!f() { git push origin HEAD:refs/heads/$1; }; f"
[alias]
        psfo = "!f() { git push --force origin HEAD:$1; }; f"
[alias]
        l = log
[alias]
        lp = log --graph --decorate --pretty=oneline --abbrev-commit -10
[alias]
        last = log --graph --decorate --pretty=oneline --abbrev-commit -1
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
[alias]
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[alias]
        m = merge
[alias]
        ma = merge --abort
[alias]
        ms = merge --squash
[alias]
        mom = merge origin/master
[alias]
        mbom = merge-base HEAD origin/master
[alias]
        r = rebase
[alias]
        rc = rebase --continue
[alias]
        ra = rebase --abort
[alias]
        rs = rebase --skip
[alias]
        ri = rebase --interactive
[alias]
        rom = rebase origin/master
[alias]
        riom = rebase --interactive origin/master
[alias]
        ria = rebase --interactive --autosquash
[alias]
        riaom = rebase --interactive --autosquash origin/master
[alias]
        rh = reset --hard
[alias]
        rhom = reset --hard origin/master
[alias]
        sh = show --ext-diff
[alias]
        shh = sh HEAD
[alias]
        sur = submodule update --recursive
[alias]
        suri = submodule update --recursive --init
[alias]
        ssm = "!f() { git submodule summary | colorss; }; f"
[alias]
        ss = submodule status
[alias]
        ssr = submodule status --recursive
[alias]
        sp = stash pop
[alias]
        sd = stash drop
[alias]
        sl = stash list
[alias]
        f = fetch --all
[alias]
        fr = fetch --all --recurse-submodules
[alias]
        rp = rev-parse
[alias]
        rp = rev-parse
[alias]
        bc = "!f() { hub browse -- commits/$(git rev-parse $1); }; f"
[alias]
        ci = "!f() { gh pr checks; }; f"

[color]
        branch = auto
        diff = auto
        status = auto

[color "status"]
        added = yellow
        changed = blue
        untracked = cyan

[core]
        editor = nvim
	excludesfile = /Users/nitaai/.gitignore
[push]
        default = current
        recurseSubmodules = on-demand

[commit]
        gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[remote "origin"]
	prune = true
[pull]
	rebase = true
[diff]
	external = difft
[merge]
        ff = true
[mergetool "vimdiff"]
        layout = REMOTE,BASE,LOCAL
