_vim-dadbod
.claude/
.clj-kondo/
.cpcache
.ctags
.DS_Store
.DS_Store
.envrc
.eslintrc
.java-version
.lsp/
.mux.yml
.nrepl-history
.nrepl-port
.pryrc
.ruby-version
.venv
.yardoc/
*.retry
*/**/tags
cider-ci/bin/install_rbenv_version.rb
CLAUDE.md
database_pg.yml
database.yml
dev-repl
dev-server
dev-watch
int-test-repl
int-test-server
local-vm*
my-scripts/
node_modules/
plugin/applescript/*
plugin/ri_vim_cache/
rerun_personas_migrations_100
run-spec
Session.vim
shadow-cljs.vim
tags
test-repl
test-server
test-watch
tmp/
