*.retry
*/**/tags
.clj-kondo/
.DS_Store
.DS_Store
.cpcache
.ctags
.eslintrc
.envrc
.java-version
.lsp/
.mux.yml
.nrepl-history
.nrepl-port
.pryrc
.ruby-version
.venv
.yardoc/
Session.vim
_vim-dadbod
cider-ci/bin/install_rbenv_version.rb
database.yml
database_pg.yml
dev-repl
dev-server
dev-watch
int-test-repl
int-test-server
local-vm*
my-scripts/
node_modules/
plugin/applescript/*
plugin/ri_vim_cache/
rerun_personas_migrations_100
run-spec
shadow-cljs.vim
tags
test-repl
test-server
test-watch
tmp/
