[user]
        name = Matúš Kmiť
        email = matus.kmit@zhdk.ch
        signingkey = 67C527A3

[guitool "Rebase onto..."]
        cmd = git rebase
        revprompt = yes
[guitool "Rebase/Continue"]
        cmd = git rebase --continue
[guitool "Rebase/Skip"]
        cmd = git rebase --skip
[guitool "Rebase/Abort"]
        cmd = git rebase --abort
[guitool "Pull with Rebase"]
        cmd = git pull --rebase

[guitool "Stash/Push"]
        cmd = git stash
[guitool "Stash/Pop"]
        cmd = git stash pop
[guitool "Stash/List"]
        cmd = git stash list

[gui]
        fontui = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
        fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
        recentrepo = /home/nimaai/src/leihs

[alias]
        c = commit
[alias]
        cm = commit -m
[alias]
        ca = commit --amend
[alias]
        can = commit --amend --no-edit
[alias]
        patch = "!f() { git add . && git can && git psf; }; f"
[alias]
        s = status
[alias]
        a = add
[alias]
        co = checkout
[alias]
        b = branch
[alias]
        pl = pull
[alias]
        plr = pull --rebase
[alias]
        ps = push
[alias]
        psf = push -f
[alias]
        psom = push origin HEAD:master
[alias]
        pso = "!f() { git push origin HEAD:$1; }; f"
[alias]
        psfo = "!f() { git push --force origin HEAD:$1; }; f"
[alias]
        d = diff --submodule
[alias]
        ds = diff --staged --submodule
[alias]
        dt = difftool
[alias]
        l = log
[alias]
        lp = log --graph --decorate --pretty=oneline --abbrev-commit -10
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
[alias]
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[alias]
        ms = merge --squash
[alias]
        mbom = merge-base HEAD origin/master
[alias]
        r = rebase
[alias]
        rc = rebase --continue
[alias]
        ra = rebase --abort
[alias]
        rs = rebase --skip
[alias]
        ri = rebase --interactive
[alias]
        rom = rebase origin/master
[alias]
        suball = submodule foreach git pull -q origin master
[alias]
        suball = submodule foreach git pull -q origin master
[alias]
        su = submodule update
[alias]
        f = fetch

[color]
        branch = auto
        diff = auto
        status = auto

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = bold
        frag = magenta bold
        old = red
        new = green

[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[diff]
        tool = vimdiff
[difftool]
        prompt = false

[merge]
	tool = fugitive
        ff = only
[mergetool]
        keepBackup = false
        prompt = false

[core]
        editor = vim -f
        excludesfile = /Users/mkmit/.gitignore
[push]
        default = current
        recurseSubmodules = on-demand
[branch]
        autosetuprebase = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
        gpgsign = true
        template = /Users/mkmit/.stCommitMsg
[gpg]
        program = /Applications/SourceTree.app/Contents/Resources/bin/stgpg.sh
[status]
	submodulesummary = true
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
