set editing-mode vi
# set show-mode-in-prompt on
# set vi-ins-mode-string "(ins) "
# set vi-cmd-mode-string "(cmd) "

# Enable Readline not waiting for additional input when a key is pressed.
# Needed for the mappings below.
set keyseq-timeout 50
